<h1 class="title is-1">Show</h1>

<h2 class="title is-2"><%= restaurant.name %></h2>
<h3 class="subtitle is-3"><%= restaurant.name %> <%= restaurant.address %></h3>
<p><%= restaurant.description %></p>

<%= foods %>

<a href="/restaurants/<%= restaurant.id %>/edit" class="button is-info">Edit</a>

<form action="/restaurants/<%= restaurant.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE"/>
  <button class="button is-danger">Delete</button>
</form>
